<a href="https://colab.research.google.com/github/paigemb4/DS1002/blob/main/notes/apr3_class_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

iterables is basic python- no packages needed

Iterable objects or iterables can return elements one at a time

An iterator is an object that iterates over iterable objects such as sets, lists, tuples, dictionaries, and strings

Iteration can be implemented:

with a for loop
with the next() method

In [1]:
for i in range(10) :
    print(str(i+1).zfill(2), (i+1)**2 * '|')
#zfill.() adds 0s to front of string until it reaches the desired length

01 |
02 ||||
03 |||||||||
04 ||||||||||||||||
05 |||||||||||||||||||||||||
06 ||||||||||||||||||||||||||||||||||||
07 |||||||||||||||||||||||||||||||||||||||||||||||||
08 ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
09 |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
10 ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

In [2]:
name = 'Ted Lasso'
age = 42

f"Hello, {name}. You are {age}."
#can put expressions in braces and python will evaluate it, shorthand

'Hello, Ted Lasso. You are 42.'

enumerate.() returns index and key for each iteration

In [7]:
ff_teams = {'NCSU' : 3, 'Iowa' : 1, 'South Carolina' : 1, 'Connecticut': 3}

print(enumerate(ff_teams))
#enumerate is an object- type of thing, contains a bunch of tuples
print(type(enumerate(ff_teams)))

for x in enumerate(ff_teams): print (type(x))
list(enumerate(ff_teams))

<enumerate object at 0x7ec172f06e40>
<class 'enumerate'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

[(0, 'NCSU'), (1, 'Iowa'), (2, 'South Carolina'), (3, 'Connecticut')]

In [8]:
for school in ff_teams:
  print(f"School:  {school} \t Seed: {ff_teams[school]}")

print(50*'-')

for i, school in enumerate(ff_teams) :
   school_name = f"{str(i).zfill(2)}_{school}: \t Seed: {ff_teams[school]}"
   print(school_name)

#u can make a for loop with multiple variables
#/t means tab

School:  NCSU 	 Seed: 3
School:  Iowa 	 Seed: 1
School:  South Carolina 	 Seed: 1
School:  Connecticut 	 Seed: 3
--------------------------------------------------
00_NCSU: 	 Seed: 3
01_Iowa: 	 Seed: 1
02_South Carolina: 	 Seed: 1
03_Connecticut: 	 Seed: 3

iterating using for

In [9]:
tokens = ['living room','was','quite','large']

for tok in tokens:
    print(tok)
#prints out in order given

living room
was
quite
large

iter.()

In [10]:
tokens = ['living room','was','quite','large']

myit = iter(tokens)
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

living room
was
quite
large

In [11]:
print(next(myit))
#wont work because there is no next item

StopIteration:

In [12]:
type(myit)

list_iterator

In [13]:
help(myit)

Help on list_iterator object:

class list_iterator(object)
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __length_hint__(...)
 |      Private method returning an estimate of len(list(it)).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.

In [14]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

**strings**

In [15]:
strn = 'datum'

for s in strn:
    print(s)

d
a
t
u
m

In [16]:
st = iter(strn)

print(next(st))
print(next(st))
print(next(st))
print(next(st))

d
a
t
u

**tuples** - defined with parenthesis around it, immutable

In [17]:
metrics = ('auc','recall','precision','support')

for met in metrics:
    print(met)

auc
recall
precision
support

In [18]:
metrics = ('auc','recall','precision','support')

tup_metrics = iter(metrics)
print(next(tup_metrics))
print(next(tup_metrics))
print(next(tup_metrics))
print(next(tup_metrics))

auc
recall
precision
support

In [19]:
for met in metrics:
    print(met)
    if met == 'precision':
      break
    print(met)
#break ends the for loop

print(40*'-')

for met in metrics:
    print(met)
    if met == 'precision':
      continue
    print(met)

auc
auc
recall
recall
precision
----------------------------------------
auc
auc
recall
recall
precision
support
support

**dictionaries**

In [20]:
courses = {'fall':['regression','python'], 'spring':['capstone','pyspark','nlp']}

In [21]:
for k in courses:
    print(k)
#iterate over keys

fall
spring

In [22]:
for k in courses.keys():
    print(k)
#same thing but using keys.() method

fall
spring

In [23]:
for v in courses.values():
    print(v)
#iterate over values

['regression', 'python']
['capstone', 'pyspark', 'nlp']

In [24]:
for k, v in courses.items():
    print("key  :", k)
    print("value:", v)
    print("-"*40)
#keys and values using item.()

key  : fall
value: ['regression', 'python']
----------------------------------------
key  : spring
value: ['capstone', 'pyspark', 'nlp']
----------------------------------------

In [25]:
for k in courses.keys():
    print("key  :", k)
    print("value:", courses[k]) # index into the dict with the key
    print("-"*40)
# iterate over keys and values using keys()

key  : fall
value: ['regression', 'python']
----------------------------------------
key  : spring
value: ['capstone', 'pyspark', 'nlp']
----------------------------------------

In [26]:
for k in courses.keys():
    print(f"{k}:\t{', '.join(courses[k])}") # index into the dict with the key

fall:	regression, python
spring:	capstone, pyspark, nlp

In [27]:
for k in enumerate(courses):
    print(k)

(0, 'fall')
(1, 'spring')

**sets**

In [28]:
princesses = {'belle','cinderella','rapunzel'}

for princess in princesses:
    print(princess)
#dont know what order they will come out

rapunzel
cinderella
belle

In [29]:
princesses = {'aaron','belle','cinderella','rapunzel'}

myset = iter(princesses)
print(next(myset))
print(next(myset))
print(next(myset))

aaron
rapunzel
cinderella

In [30]:
enumerate(princesses)
list(enumerate(princesses))

[(0, 'aaron'), (1, 'rapunzel'), (2, 'cinderella'), (3, 'belle')]

practice:

In [ ]:
names = ['John', 'Paul', 'George', 'Ringo']

**nested loops**

In [31]:
courses

{'fall': ['regression', 'python'], 'spring': ['capstone', 'pyspark', 'nlp']}

In [32]:
for i, semester in enumerate(courses):
    print(f"{i+1}. {semester.upper()}:")
    #.upper capitalizes everything
    for j, course in enumerate(courses[semester]):
        print(f"\t{i+1}.{j+1}. {course}")

1. FALL:
	1.1. regression
	1.2. python
2. SPRING:
	2.1. capstone
	2.2. pyspark
	2.3. nlp

x list comprehensions

In [33]:
vals = [1, 5, 6, 8, 12, 15]
is_odd = []

for val in vals:
    if val % 2: # if remainder is one, val is odd
        is_odd.append(True)
    else:       # else it's not odd
        is_odd.append(False)

is_odd

[True, True, False, False, False, True]

In [38]:
print(is_odd)
del(is_odd)
print(is_odd)

NameError: name 'is_odd' is not defined

In [35]:
is_odd = [val % 2 == 1 for val in vals]
is_odd

[True, True, False, False, False, True]

In [39]:
stop_words = ['a','am','an','i','the','of']
words      = ['i','am','not','a','fan','of','the','film']

clean_words = [wd for wd in words if wd not in stop_words]
clean_words

['not', 'fan', 'film']

In [40]:
s1 = set(stop_words)
s2 = set(words)
s3 = s2 - s1

s3

{'fan', 'film', 'not'}